*.o
*.a
*.dylib
*.dSYM
*.so
*~
*.dSYM
libcrypto-build/*
libcrypto-root/*
tests/integration/__pycache__
tests/unit/*_test
tests/fuzz/fuzz-*.log
bin/s2nc
bin/s2nd
util-linux-*
Python-*
clang-*
fuzz_dependencies/*
.travis/prlimit
.travis/.libs/*
test-deps/*
