*.o
*.a
*.dylib
*.dSYM
*.so
*~
*.dSYM
*.gcda
*.gcno
*.gcov
*.info
*.profraw
*.tmp
*.pyc
coverage/html/*
docs/doxygen/output/
libcrypto-build/*
libcrypto-root
libcrypto-root/*
tests/unit/*_test
tests/fuzz/*_test
tests/fuzz/*.txt
tests/fuzz/fuzz-*.log
tests/benchmark/*_benchmark
bin/s2nc
bin/s2nd
bin/policy
util-linux-*
Python-*
clang-*
fuzz_dependencies/*
.vscode/
test-deps/*
.idea/*
CMakeCache.txt
CMakeFiles/*
.project
./codebuild/spec/buildspec_*_batch.yml
build/
result
result-*
*.class
