[submodule "cbmc-templates"]
	path = tests/cbmc/templates
	url = https://github.com/awslabs/aws-templates-for-cbmc-proofs
[submodule "tests/cbmc/aws-verification-model-for-libcrypto"]
	path = tests/cbmc/aws-verification-model-for-libcrypto
	url = https://github.com/awslabs/aws-verification-model-for-libcrypto.git
[submodule "tests/litani"]
	path = tests/litani
	url = https://github.com/awslabs/aws-build-accumulator
[submodule "docs/doxygen/doxygen-css"]
	path = docs/doxygen/doxygen-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
