sudo: required
dist: trusty
language: c
cache:
    directories:
        # Cache test dependencies that would normally be re-compiled for every build.
        # This directory is unique for each entry of the build matrix per:
        # https://docs.travis-ci.com/user/caching/#Caches-and-build-matrices
        - test-deps

osx_image: xcode8

os:
  - osx
  - linux

env:
  - TESTS=ctverif
  - S2N_LIBCRYPTO=openssl-1.1.0 BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
  - S2N_LIBCRYPTO=openssl-1.0.2 BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
  - S2N_LIBCRYPTO=openssl-1.0.2-fips BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
  - S2N_LIBCRYPTO=libressl      BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
  # Force libcrypto to use "software only" crypto implementations for AES and AES-GCM. Verify s2n can gracefully use
  # unoptimized routines. See https://www.openssl.org/docs/man1.1.0/crypto/OPENSSL_ia32cap.html
  - S2N_LIBCRYPTO=openssl-1.1.0 OPENSSL_ia32cap="~0x200000200000000" BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
  - S2N_LIBCRYPTO=openssl-1.1.x-master BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
  - S2N_LIBCRYPTO=openssl-1.1.0 LATEST_CLANG=true TESTS=fuzz FUZZ_TIMEOUT_SEC=120
  - S2N_LIBCRYPTO=openssl-1.0.2-fips LATEST_CLANG=true TESTS=fuzz FUZZ_TIMEOUT_SEC=120

matrix:
  exclude:
  - os: osx
    env: TESTS=ctverif
  - os: osx
    env: S2N_LIBCRYPTO=openssl-1.1.x-master BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
  - os: osx
    env: S2N_LIBCRYPTO=openssl-1.0.2-fips LATEST_CLANG=true TESTS=fuzz
  - os: osx
    env: S2N_LIBCRYPTO=openssl-1.0.2-fips BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
  #This exception is because the test isn't finished yet, remove to turn on DRBG Saw tests
  - env: TESTS=sawDRBG                      SAW=true
  include:
  - os : linux
    env : TESTS=sawHMAC SAW_HMAC_TEST=md5    SAW=true GCC6_REQUIRED=false
    addons: &sawaddons
      apt:
        packages:
          - clang-3.8
          - llvm-3.8
  - os : linux
    env : TESTS=sawHMAC SAW_HMAC_TEST=sha1   SAW=true GCC6_REQUIRED=false
    addons : *sawaddons
  - os : linux
    env : TESTS=sawHMAC SAW_HMAC_TEST=sha224 SAW=true GCC6_REQUIRED=false
    addons : *sawaddons
  - os : linux
    env : TESTS=sawHMAC SAW_HMAC_TEST=sha256 SAW=true GCC6_REQUIRED=false
    addons : *sawaddons
  - os : linux
    env : TESTS=sawHMAC SAW_HMAC_TEST=sha384 SAW=true GCC6_REQUIRED=false
    addons : *sawaddons
  - os : linux
    env : TESTS=sawHMAC SAW_HMAC_TEST=sha512 SAW=true GCC6_REQUIRED=false
    addons : *sawaddons
  - os : linux
    env : TESTS=tls SAW=true GCC6_REQUIRED=false
    addons : *sawaddons    
  - os : linux
    env : TESTS=sawHMACFailure SAW=true
    addons : *sawaddons    
  allow_failures:
    - os: osx
    - env: S2N_LIBCRYPTO=openssl-1.1.x-master BUILD_S2N=true TESTS=integration GCC6_REQUIRED=true
    # Optional until we resolve broken remote dependency: https://github.com/awslabs/s2n/pull/615
    - env: TESTS=ctverif

  fast_finish: true

before_install:
  - source .travis/s2n_setup_env.sh

install:
  - .travis/s2n_install_test_dependencies.sh
  
script:
  - .travis/s2n_travis_build.sh
