# Config file consumed by create_project
# Helpful reminder about CodeBuild provided docker images:
#  https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-available.html
[CFNRole]
account_number: 024603541914

[BuildCache]
bucket_prefix: s2nCodeBuildCache

#Reusable templates - use the snippet:NAME
[UbuntuBoilerplate2XL]
image : aws/codebuild/standard:2.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_2XLARGE
buildspec: codebuild/spec/buildspec_ubuntu.yml
# Testing- TODO: update prior to merge
source_location: https://github.com/awslabs/s2n.git
source_type : GITHUB
source_clonedepth: 1
source_version: 

# The prefix CodeBuild: is required for the script to build this as a CB project
# Fuzzers
[CodeBuild:s2nfuzzerOpenSSL111Coverage]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 LATEST_CLANG=true TESTS=fuzz FUZZ_TIMEOUT_SEC=120 S2N_COVERAGE=true

[CodeBuild:s2nfuzzerOpenSSL102FIPS]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2-fips LATEST_CLANG=true TESTS=fuzz FUZZ_TIMEOUT_SEC=120

# Integration tests

[CodeBuild:s2nIntegrationOpenSSL111Gcc9]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=integration GCC_VERSION=9

[CodeBuild:s2nIntegrationLibreSSLGcc9]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=libressl BUILD_S2N=true TESTS=integration GCC_VERSION=9

[CodeBuild:s2nIntegrationOpenSSL111Gcc6]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=integration GCC_VERSION=6 S2N_COVERAGE=true CODECOV_IO_UPLOAD=true

[CodeBuild:s2nIntegrationOpenSSL111Gcc6Corked]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=integration GCC_VERSION=6 S2N_CORKED_IO=true

[CodeBuild:s2nIntegrationOpenSSL102Gcc6]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2 BUILD_S2N=true TESTS=integration GCC_VERSION=6

[CodeBuild:s2nIntegrationOpenSSL102Gcc6FIPS]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2-fips BUILD_S2N=true TESTS=integration GCC_VERSION=6

[CodeBuild:s2nIntegrationOpenSSL111Gcc6SoftCrypto]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 OPENSSL_ia32cap="~0x200000200000000" BUILD_S2N=true TESTS=integration GCC_VERSION=6

# Unit Test
[CodeBuild:s2nUnitOpenSSL111Gcc6]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=unit GCC_VERSION=6 S2N_COVERAGE=true CODECOV_IO_UPLOAD=true

# Asan Test
[CodeBuild:s2nAsanOpenSSL102Gcc6]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2 BUILD_S2N=true TESTS=asan GCC_VERSION=6

#Valgrind Test
[CodeBuild:s2nValgrindOpenSSL111Gcc9]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=valgrind GCC_VERSION=9

[CodeBuild:s2nValgrindOpenSSL102Gcc6]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2 BUILD_S2N=true TESTS=valgrind GCC_VERSION=6

[CodeBuild:s2nValgrindOpenSSL102Gcc6Fips]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2-fips BUILD_S2N=true TESTS=valgrind GCC_VERSION=6

# SAW tests
[CodeBuild:s2nSawHmacMd5]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawHMAC SAW_HMAC_TEST=md5 SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawHmacSha1]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawHMAC SAW_HMAC_TEST=sha1 SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawHmacSha224]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawHMAC SAW_HMAC_TEST=sha224 SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawHmacSha256]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawHMAC SAW_HMAC_TEST=sha256 SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawHmacsha384]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawHMAC SAW_HMAC_TEST=sha384 SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawHmacSha512]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawHMAC SAW_HMAC_TEST=sha512 SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawDrbg]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawDRBG SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawSike]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawSIKE_r1 SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawBike]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawBIKE_r1 SAW=true GCC_VERSION=NONE S2N_LIBCRYPTO=openssl-1.0.2

[CodeBuild:s2nSawTls]
snippet: UbuntuBoilerplate2XL
env: TESTS=tls SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawHmacFailure]
snippet: UbuntuBoilerplate2XL
env: TESTS=sawHMACFailure SAW=true

# Sidetrail - Run both tests in one job
[CodeBuild:s2nSidetrail]
snippet: UbuntuBoilerplate2XL
env: TESTS=sidetrail

