# Config file consumed by create_project
# Helpful reminder about CodeBuild provided docker images:
#  https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-available.html

[Global]
create_github_role = true
stack_name: s2nCodeBuildTests

# The prefix CodeBuild: is required for the script to build this as a CB project
# Fuzzers
[CodeBuild:s2nfuzzerOpenSSL111Coverage]
snippet: UbuntuFuzzJob
env: S2N_LIBCRYPTO=openssl-1.1.1 LATEST_CLANG=true TESTS=fuzz FUZZ_TIMEOUT_SEC=60 FUZZ_COVERAGE=true

[CodeBuild:s2nfuzzerOpenSSL102FIPS]
snippet: UbuntuFuzzJob
env: S2N_LIBCRYPTO=openssl-1.0.2-fips LATEST_CLANG=true TESTS=fuzz FUZZ_TIMEOUT_SEC=60

# Integration tests

[CodeBuild:s2nIntegrationOpenSSL111Gcc9]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=integration GCC_VERSION=9

[CodeBuild:s2nIntegrationLibreSSLGcc9]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=libressl BUILD_S2N=true TESTS=integration GCC_VERSION=9

[CodeBuild:s2nIntegrationOpenSSL111Gcc6Coverage]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=integration GCC_VERSION=6 S2N_COVERAGE=true

[CodeBuild:s2nIntegrationOpenSSL111Gcc6Corked]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=integration GCC_VERSION=6 S2N_CORKED_IO=true

[CodeBuild:s2nIntegrationOpenSSL102Gcc6]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2 BUILD_S2N=true TESTS=integration GCC_VERSION=6

[CodeBuild:s2nIntegrationOpenSSL102Gcc6FIPS]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2-fips BUILD_S2N=true TESTS=integration GCC_VERSION=6

[CodeBuild:s2nIntegrationOpenSSL111Gcc6SoftCrypto]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 OPENSSL_ia32cap="~0x200000200000000" BUILD_S2N=true TESTS=integration GCC_VERSION=6

[CodeBuild:s2nIntegrationBoringSSLGcc9]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=boringssl BUILD_S2N=true TESTS=integration GCC_VERSION=9

# Asan Test
[CodeBuild:s2nAsanOpenSSL111Gcc6Coverage]
snippet: UbuntuBoilerplateLarge
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=asan GCC_VERSION=6 S2N_COVERAGE=true

#Valgrind Test
[CodeBuild:s2nValgrindOpenSSL111Gcc9]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.1.1 BUILD_S2N=true TESTS=valgrind GCC_VERSION=9

[CodeBuild:s2nValgrindOpenSSL102Gcc6]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2 BUILD_S2N=true TESTS=valgrind GCC_VERSION=6

[CodeBuild:s2nValgrindOpenSSL102Gcc6Fips]
snippet: UbuntuBoilerplate2XL
env: S2N_LIBCRYPTO=openssl-1.0.2-fips BUILD_S2N=true TESTS=valgrind GCC_VERSION=6

# SAW tests
[CodeBuild:s2nSawHmacPlus]
snippet: UbuntuBoilerplateLarge
env: TESTS=sawHMACPlus SAW=true GCC_VERSION=NONE

[CodeBuild:s2nSawTls]
snippet: UbuntuBoilerplate2XL
env: TESTS=tls SAW=true GCC_VERSION=NONE

# Sidetrail - Run both tests in one job
[CodeBuild:s2nSidetrail]]
image: 024603541914.dkr.ecr.us-west-2.amazonaws.com/linux-docker-images:sidetrail
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_2XLARGE
timeout_in_min: 90
buildspec: codebuild/spec/buildspec_sidetrail.yml
source_location: https://github.com/aws/s2n-tls.git
source_type : GITHUB
source_clonedepth: 1
source_version:
env: TESTS=sidetrail
