# Config file consumed by create_project
# Helpful reminder about CodeBuild provided docker images:
#  https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-available.html

[Global]
aws_region=us-west-2

[CFNRole]
account_number: 024603541914

#Reusable templates - use the snippet:NAME
[UbuntuBoilerplate2XL]
image : aws/codebuild/standard:2.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_2XLARGE
timeout_in_min: 90
buildspec: codebuild/spec/buildspec_ubuntu.yml
source_location: https://github.com/awslabs/s2n.git
source_type : GITHUB
source_clonedepth: 1
source_version:

[UbuntuBoilerplateLarge]
image : aws/codebuild/standard:2.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_LARGE
timeout_in_min: 90
buildspec: codebuild/spec/buildspec_ubuntu.yml
source_location: https://github.com/awslabs/s2n.git
source_type : GITHUB
source_clonedepth: 1
source_version:
