# Config file consumed by create_project
# Helpful reminder about CodeBuild provided docker images:
#  https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-available.html
[Global]
stack_name: s2nScheduledFuzz

# CodeBuild Scheduled Fuzz
[CodeBuild:s2nFuzzScheduled]
image : aws/codebuild/standard:4.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_LARGE
timeout_in_min: 480
buildspec: codebuild/spec/buildspec_ubuntu_fuzz_artifacts.yml
source_location: https://github.com/awslabs/private-s2n-fuzz.git
source_type : GITHUB
source_clonedepth: 1
source_version:
# This next value MUST match the buildspec files
# secondary-artifacts, and can be a comma sep. list
artifact_secondary_identifiers: logs
artifact_s3_bucket: s2n-build-artifacts
env: TESTS=fuzz FUZZ_TIMEOUT_SEC=27400

[CloudWatchEvent:s2n_certificate_extensions_parse_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_certificate_extensions_parse_test"}]}

[CloudWatchEvent:s2n_client_cert_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_client_cert_recv_test"}]}

[CloudWatchEvent:s2n_cert_req_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_cert_req_recv_test"}]}

[CloudWatchEvent:s2n_client_cert_verify_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_client_cert_verify_recv_test"}]}

[CloudWatchEvent:s2n_client_fuzz_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_client_fuzz_test"}]}

[CloudWatchEvent:s2n_client_hello_recv_fuzz_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_client_hello_recv_fuzz_test"}]}

[CloudWatchEvent:s2n_client_key_recv_fuzz_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_client_key_recv_fuzz_test"}]}

[CloudWatchEvent:s2n_encrypted_extensions_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_encrypted_extensions_recv_test"}]}

[CloudWatchEvent:s2n_extensions_client_key_share_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_extensions_client_key_share_recv_test"}]}

[CloudWatchEvent:s2ns2n_extensions_client_supported_versions_recv_test_fuzz]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_extensions_client_supported_versions_recv_test"}]}

[CloudWatchEvent:s2n_extensions_server_key_share_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_extensions_server_key_share_recv_test"}]}

[CloudWatchEvent:s2n_extensions_server_supported_versions_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_extensions_server_supported_versions_recv_test"}]}

[CloudWatchEvent:s2n_openssl_diff_pem_parsing_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_openssl_diff_pem_parsing_test"}]}

[CloudWatchEvent:s2n_recv_client_supported_groups_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_recv_client_supported_groups_test"}]}

[CloudWatchEvent:s2n_select_server_cert_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_select_server_cert_test"}]}

[CloudWatchEvent:s2n_server_cert_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_server_cert_recv_test"}]}

[CloudWatchEvent:s2n_server_extensions_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_server_extensions_recv_test"}]}

[CloudWatchEvent:s2n_server_fuzz_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_server_fuzz_test"}]}

[CloudWatchEvent:s2n_server_hello_recv_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_server_hello_recv_test"}]}

[CloudWatchEvent:s2n_stuffer_pem_fuzz_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_stuffer_pem_fuzz_test"}]}

[CloudWatchEvent:s2n_deserialize_resumption_state_test]
start_time: 05:00
build_job_name: s2nFuzzScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": "s2n_deserialize_resumption_state_test"}]}

