[Global]
stack_name: s2nScheduledFuzzAFL

#AFL section start
[CodeBuild:s2nFuzzAFLScheduled]
image: AWS_AN.dkr.ecr.us-west-2.amazonaws.com/linux-docker-images:s2n_aflplusplus
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_LARGE
timeout_in_min: 480
buildspec: codebuild/spec/buildspec_ubuntu_fuzz_afl.yml
source_location: https://github.com/awslabs/private-s2n-fuzz.git
source_type : GITHUB
source_clonedepth: 1
source_version:
# This next value MUST match the buildspec files
# secondary-artifacts, and can be a comma sep. list
artifact_secondary_identifiers: logs
artifact_s3_bucket: s2n-build-artifacts
env: TESTS=fuzz AFL_FUZZ=true FUZZ_TIMEOUT_SEC=28000

# Auto-populate CloudWatch events based on the file glob "tests/fuzz/s2n_*test.c"
[ScheduledTemplate:../tests/fuzz]
start_time: 05
job_name_suffix: afl
build_job_name: s2nFuzzAFLScheduled
input: {"environmentVariablesOverride": [{"name": "FUZZ_TESTS","value": TESTNAME}]}

