# Config file consumed by create_project
# Helpful reminder about CodeBuild provided docker images:
#  https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-available.html
[Global]
stack_name: s2nIntegrationScheduled

#Reusable templates - use the snippet:NAME
[IntegUbuntuBoilerplateLarge]
image : aws/codebuild/standard:2.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_LARGE
timeout_in_min: 90
buildspec: codebuild/spec/buildspec_ubuntu_integ_openssl102.yml
source_location: https://github.com/awslabs/s2n.git
source_type : GITHUB
source_clonedepth: 1
source_version:

# Boring + GCC9, Libre + GCC6
[CodeBuild:s2nIntegrationBoringLibre]
image : aws/codebuild/standard:2.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_LARGE
timeout_in_min: 90
buildspec: codebuild/spec/buildspec_ubuntu_integ_boringlibre.yml
source_location: https://github.com/awslabs/s2n.git
source_type : GITHUB
source_clonedepth: 1
source_version:
env: TESTS=integration BUILD_S2N=true

# OpenSSL111 + GCC6 + Corked and notCorked + Gcc4.8
[CodeBuild:s2nIntegrationOpenSSL111Plus]
image : aws/codebuild/standard:2.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_LARGE
timeout_in_min: 90
buildspec: codebuild/spec/buildspec_ubuntu_integ_openssl111.yml
source_location: https://github.com/awslabs/s2n.git
source_type : GITHUB
source_clonedepth: 1
source_version:
env: TESTS=integration BUILD_S2N=true

# OpenSSL102 Fips and notFips + GCC6
[CodeBuild:s2nIntegrationOpenSSL102Plus]
image : aws/codebuild/standard:2.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_LARGE
timeout_in_min: 90
buildspec: codebuild/spec/buildspec_ubuntu_integ_openssl102.yml
source_location: https://github.com/awslabs/s2n.git
source_type : GITHUB
source_clonedepth: 1
source_version:
env: TESTS=integration BUILD_S2N=true

# OpenSSL102 + GCC6 + Asan and Valgrind
[CodeBuild:s2nIntegrationOpenSSL102AsanValgrind]
image : aws/codebuild/standard:2.0
env_type: LINUX_CONTAINER
compute_type: BUILD_GENERAL1_LARGE
timeout_in_min: 90
buildspec: codebuild/spec/buildspec_ubuntu_integ_openssl102_asanvalgrind.yml
source_location: https://github.com/awslabs/s2n.git
source_type : GITHUB
source_clonedepth: 1
source_version:
env: TESTS=integration BUILD_S2N=true

#{"environmentVariablesOverride": [{"name": "S2N_NO_PQ","value": "true"}]}

#[CodeBuild:s2nIntegrationScheduled]
#snippet: IntegUbuntuBoilerplateLarge
#env: TESTS=integration BUILD_S2N=true

# Disabled Scheduled job (example) for tests not needing webhooks.
#[CloudWatchEvent:s2n_Integration_Openssl111_Gcc48_test]
#start_time: 13
#build_job_name: s2nIntegrationScheduled
#input: {"environmentVariablesOverride": [{"name": "S2N_LIBCRYPTO","value": "openssl-1.1.1"},{"name": "GCC_VERSION", "value":"4.8"}]}
