[package]
name = "integration"
version = "0.1.0"
authors = ["AWS s2n"]
edition = "2018"
publish = false

[dependencies]
s2n-tls = { path = "../s2n-tls", features = ["testing"] }
s2n-tls-sys = { path = "../s2n-tls-sys" }
criterion = { version = "0.3", features = ["html_reports"] }

[[bench]]
name = "handshake"
harness = false
