[ req ]
prompt = no
distinguished_name = ca_distinguished_name
x509_extensions = v3_req
req_extensions = req_ext

[ ca_distinguished_name ]
C = AU
ST = Some-State
O = Internet Widgits Pty Ltd

[v3_req]
subjectAltName = @alt_names

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS = localhost