[features]
default = []
boringssl = ["dep:boring"]

[package]
name = "tls-harness"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
s2n-tls = { path = "../../extended/s2n-tls" }
errno = "0.3.13"
libc = "0.2.174"
strum = { version = "0.27", features = ["derive"] }
rustls = "0.23.31"
rustls-pemfile = "2.2.0"
openssl = { version = "0.10.73", features = ["vendored"] }
openssl-sys = "0.9.109"
byteorder = "1.5.0"
boring = { git = "https://github.com/kaukabrizvi/boring.git", features = ["prefix-symbols"], optional = true }

brass-aphid-wire-decryption = "0.0.2"
brass-aphid-wire-messages = "0.0.2"
tracing = "0.1.43"

# NOTE: BoringSSL is disabled on macOS to avoid symbol collisions with
# OpenSSL; see https://github.com/aws/s2n-tls/pull/5659 for details.
[target.'cfg(not(target_os = "macos"))'.dependencies.boring]
git = "https://github.com/kaukabrizvi/boring.git"
features = ["prefix-symbols"]

[dev-dependencies]
# env_logger and log are used to enable logging for rustls, which can help with
# debugging interop failures
env_logger = "0.11.8"
log = "0.4.27"
