name: clang-format Check
on: [pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - check: 'api'
            exclude: ''
          - check: 'bin'
            exclude: ''
          - check: 'crypto'
            exclude: ''
          - check: 'stuffer'
            exclude: ''
          - check: 'error'
            exclude: ''
          - check: 'tests/testlib'
            exclude: ''
          - check: 'tests/unit'
            exclude: "s2n_[^3a-cd-kt-z].*\\.c"
          - check: 'tls'
            exclude: "(tls\\/extensions)|(s2n_[a-hs-z].*\\.[ch])"
          - check: 'tls/extensions'
            exclude: ''
          - check: 'utils'
            exclude: ''
    steps:
      - uses: actions/checkout@v3
      - name: Run clang-format style check for C.
        uses: jidicula/clang-format-action@v4.9.0
        with:
          clang-format-version: '15'
          check-path: ${{ matrix.path['check'] }}
          exclude-regex: ${{ matrix.path['exclude'] }}
