---
name: Linters

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  cppcheck:
    runs-on: ubuntu-latest
    env:
      CPPCHECK_INSTALL_DIR: test-deps/cppcheck
    steps:
      - uses: actions/checkout@v2

      - name: Setup
        run: source ./codebuild/bin/s2n_setup_env.sh

      - name: Cache
        id: cache
        uses: actions/cache@v2.1.4
        continue-on-error: true
        with:
          path: ${{ env.CPPCHECK_INSTALL_DIR }}
          key: cppcheck-2.9.2-${{ env.CPPCHECK_INSTALL_DIR }}

      - name: Cache cppcheck-directory
        id: cache-cppcheck-dir
        uses: actions/cache@v3
        continue-on-error: true
        with:
          path: ${{ env.CPPCHECK_CACHE_DIR }}
          key: cppcheck-dir-${{ env.CPPCHECK_CACHE_DIR }}

      - name: Install
        if: steps.cache.outputs.cache-hit != 'true'
        run: ./codebuild/bin/install_cppcheck.sh "$CPPCHECK_INSTALL_DIR"

      - name: Check
        run: ./codebuild/bin/run_cppcheck.sh "$CPPCHECK_INSTALL_DIR" "$CPPCHECK_CACHE_DIR"

  copyright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup
        run: source ./codebuild/bin/s2n_setup_env.sh

      - name: Check
        run: ./codebuild/bin/copyright_mistake_scanner.sh

  simple-mistakes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup
        run: source ./codebuild/bin/s2n_setup_env.sh

      - name: Check
        run: ./codebuild/bin/grep_simple_mistakes.sh

  comments:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup
        run: source ./codebuild/bin/s2n_setup_env.sh

      - name: Install
        run: sudo apt update && sudo apt install -y kwstyle

      - name: Check
        run: |
          ./codebuild/bin/run_kwstyle.sh
          ./codebuild/bin/cpp_style_comment_linter.sh
  pepeight:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: autopep8
        uses: peter-evans/autopep8@v1
        with:
          args: --recursive --in-place --exit-code ./tests/integrationv2
      - name: Fail if autopep8 made changes
        if: steps.autopep8.outputs.exit-code == 2
        run: exit 1
