---
name: PR Title Validation
on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, edited]
permissions:
  contents: read

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: PR Conventional Commit Validation
        uses: ytanikin/pr-conventional-commits@1.5.1
        with:
          task_types: '["feat","fix","docs","test","ci","refactor","perf","chore","revert","build"]'
          add_label: 'false'
      - name: Failure case
        if: failure()
        run: |
          echo "Make sure the PR title/commit follows https://www.conventionalcommits.org/"
          exit 1
