# ignore rust compilation artifacts
common/target
tls-shim/target
 
**/Cargo.lock
# ignore any of the generated logs
**/*.log
# ignore any compiled java files
**/*.class
# ignore compile go client
go/client
